body{
    background-image:url(https://img.freepik.com/premium-photo/notebook-clips-small-green-domestic-plant-flowerpot-branch-with-leaves-laptop-keypad-white-desk_274679-9115.jpg) ;
     background-repeat: no-repeat;
     background-size: cover;

}
.parent{
    margin: auto;
    height: 500px;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: 2px solid purple;
}

.item-container{
    border: 1px solid purple;
    width: 70%;
    border-radius: 10px;
    padding: 5px;
    
   
}
input{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid black;
}
li{
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

}
button{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: plum;
 
}
.button{
    display: flex;
    gap: 20px;
    justify-content: space-between;

}
button:hover{
    background-color: aquamarine;
}
.follower{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    border: none;
    transition: all 0.3s linear;
}
